# LaTeX build files
slides/*-blx.bib
slides/*.aux
slides/*.bbl
slides/*.bcf
slides/*.blg
slides/*.fdb_latexmk
slides/*.fls
slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.run.xml
slides/*.snm
slides/*.synctex.gz
slides/*.toc
slides/*.txss